<article class="bg-neutral-100 clr-neutral-800">
  <div class="content">
    <div class="card-header | bg-neutral-400 clr-neutral-100 | padding-16">
      <div>
        <fa-icon [icon]="externalLinkIcon"></fa-icon>

        <a [href]="article.url"
           class="clr-primary-400 | margin-inline-start-8">{{ article.source }}</a>
      </div>

      <p class="fs-200 fw-light">{{ article.publishedAt | date:'MMM d yyyy | hh:mm' }}</p>
    </div>

    @if (article.image) {
      <img [src]="article.image"
           alt=""
           aria-hidden="true"/>
    }

    <div class="flow | padding-16">
      <h2 class="fs-500 fw-light">{{ article.title }}</h2>

      <p class="fw-bold">{{ article.content }}</p>
    </div>
  </div>
</article>
