$colours: (
    neutral: (
        100: #fefefe,
        200: #edeef1,
        400: #555f69,
        800: #444d55
    ),
    primary: (
        400: #56ace5,
    ),
    alert: (
        400: #d8a698
    )
);
