<section class="clr-neutral-100">
  <h2 class="fw-bold text-centre | margin-20">Add a new feed</h2>

  <form class="grid-flow"
        [formGroup]="addFeedForm">
    <label class="visually-hidden"
           for="feed-name">Feed name</label>

    <input formControlName="name"
           id="feed-name"
           placeholder="Type your feed name..."
           [class.error]="fieldIsInvalid('name')" />

    <label class="visually-hidden"
           for="feed-url">Feed url</label>

    <input formControlName="url"
           id="feed-url"
           placeholder="Copy your RSS url..."
           [class.error]="fieldIsInvalid('url')" />

    <button class="primary"
            (click)="submit()">Add feed
    </button>
  </form>
</section>
